/ColouredShape.java
/Hex.java
/Hexagons.java
/JFrameGraphic.java
/RandomPolygons.java
/SVGMetaPost.java
/SVGgraphic.java
/SalamanderOne.java
/ShapeOne.java
/ShapeProvider.java
/TestSVGfile.java
/TintedShape.java
